@import '_variables';

@keyframes upDown {
    from {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(0px);
    }
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.hero__profile {
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 25%;
}

.hero__profile-photo {
    border-radius: 50%;
}

.hero__socials {
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    font-size: 1.25rem;
    gap: 5px;
    justify-content: space-evenly;
}

.hero__social-icon-link {
    color: $secondary;
    transition: all 0.25s;
}

.hero__social-icon-link:hover {
    color: $accent1;
}

.hero__info {
    display: flex;
    flex-direction: column;
}

.hero__info-header {
    text-align: center;
    margin: 1rem;
}

.hero__info-content {
    text-align: justify;
    margin: 0;
}

.hero__chevron-down {
    color: $secondary;
    text-align: center;
    margin: 1rem;
    font-size: 2rem;
    animation: upDown 1.5s ease-out infinite;
    display: none;
}

@media only screen and (min-width: $tablet) {
    .hero {
        padding: 5% 10% 5% 10%;
    }

    .hero__info-header {
        font-size: 1.2rem;
    }

    .hero__chevron-down {
        display: none;
    }
}

@media only screen and (min-width: $tablet) {
    .hero {
        padding: 5% 20% 5% 20%;
    }

    .hero__info-header {
        font-size: 1.5rem;
    }

    .hero__chevron-down {
        display: block;
    }
}