@import '_colors';

@mixin alignCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: $secondary;
    @include alignCenter();
}

i {
    background-color: $accent1;
}