@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');
@import '_colors';

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: $secondary;
    background-color: $primary;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 20% 5% 20%;
}

.hero__content {
    display: flex;
    flex-direction: column;
}

.hero__profile {
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 25%;
}

.hero__profile-photo {
    border-radius: 50%;
}

.hero__socials {
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    font-size: 1.25rem;
    gap: 5px;
    justify-content: space-evenly;
}

.hero__social-icon-link {
    color: $secondary;
}

.hero__info {
    display: flex;
    flex-direction: column;
}

.hero__info-header {
    text-align: center;
}

.hero__info-content {
    text-align: justify;
    text-justify: inter-word;
}